<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DD Pay</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="./vant.index.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h3 class="red" v-if="orderData.state == '支付中'">￥{{orderData.payMoney ||0}}</h3>
        <div class="order">订单号：{{getUserParam('orderNo')}}</div>
        <div class="success" v-if="orderData.state == '支付成功'">
            支付成功！
        </div>
        <div v-else>
            <div v-if="diffTime>0">
                <div class="layout-row center">
                    <img class="mini-img" :src="payWayImg" alt="">
                    <div class="remainseconds">
                        <span>[支付有效时间]</span>
                        <span class="red" v-html="stateHtml"></span>
                    </div>
                </div>
                <div v-if="showcode" class="button">
                    <div class="scan-tip" v-if="orderData.payWayDictId ==24">
                        请在姓名栏 <span class="red">务必</span>输入
                        <div class="layout-row">
                            <p class="red bold" id="remark">{{ orderData.remark }} </p>
                            <button class="mini copy-link" data-clipboard-target="#remark">复制</button>
                        </div>
                        <button class="scan-tip copy-link" data-clipboard-target="#remark">打开支付宝支付</button>
                        <div class="red center" style="background:#ffa500">支付成功后，请勿加入班级，否则可能无法到账！！</div>

                        <div class="layout-row">
                            <img />
                            <img style="height: auto;display: block" src="./qs.png" alt="">
                            <img style="height: auto;display: block" src="./payed.jpg" alt="">
                        </div>

                        <img style="width: 80%;height: auto; margin: 1rem auto 0; display: block" src="./not-join.jpg"
                            alt="">
                    </div>
                </div>
            </div>
            <div v-else>
                <img src='./overdue.png' />
            </div>
        </div>

    </div>
</body>
<script src="./polyfill.min.js"></script>
<script src="./vue.min.js"></script>
<script src="./axios.min.js"></script>
<script src="./vant.js"></script>
<script src="./utils.js"></script>
<script type='text/javascript' src='./payWay.js' charset='utf-8'></script>
<script>
    const url =
        window.location.origin + "/home/pay.html?orderNo=" + getUserParam('orderNo');
    axios({
        method: "POST",
        url: frontUrl + '/backend/order/findOrderNum',
        data: {
            orderNum: getUserParam("orderNo"),
        },
    }).then(res => {
        if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
            if (res.data.data) {
                let url = ''
                switch (res.data.data.payWayDictId) {
                    case 5:
                        //当面付
                        url = `alipays://platformapi/startapp?appId=20000067&url=${window.location.origin}/home/face.html?orderNo=${getUserParam('orderNo')}`;
                        break;
                    case 24:
                        //轻松经费
                        url = `alipays://platformapi/startapp?appId=20000067&url=${window.location.origin}/home/pay.html?orderNo=${getUserParam('orderNo')}`;
                        break;
                    case 25:
                        //yls
                        const { qrUrl } = JSON.parse(res.data.data.payContent)
//                        url = `alipays://platformapi/startapp?appId=20000067&url=${window.location.origin}/home/yls.html?orderNo=${getUserParam('orderNo')}`;
                        url = `alipays://platformapi/startapp?appId=20000067&url=${qrUrl}`
                        break;
                    default:
                        break;
                }
                window.location.href = url;
            } else {
                alert(res.data.message)
            }
        } else {
            alert('请使用手机打开')
        }
    }).catch(err => {

    })

</script>

</html>