body,html{
  padding: 0;
  margin: 0;
  background: #ece7de;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
  margin: 10px 0;
}
a{
  text-decoration: none;
}
.center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.pay-logo{
  width: 200px;
}
.red{
  color: red
}
.urlButton{
  background: #00a7ef;
  color: #fff;
  display: block;
  width: 70%;
  font-size: 16px;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  margin-bottom: 0.75rem;
}
#qrcode, #qf-wx-qrcode, #ali-scan-qrcode, #wx-scan-qrcode, #ali-fly-qrcode {
  margin: 0 auto;
  width: 12.5rem;
  height: 12.5rem;
}
.content{
  padding: 0.5rem 1rem;
  font-size: 14px;
}
.grew{
  color: #999;
}
#count-down{
  width: 100px;
  color: #fff;
  font-weight: bold;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 0;
  background: rgba(255,87,34, 0.59);
}
